@media only screen and (min-width:  1024px){
    body{
        width: 800px;
        height: 100%;
        margin: 0 auto;
        background-color: #212121;
    }
}

.wow {
    visibility: hidden;
 }

 #number6_1_:hover, #number2_2_:hover, #number4_1_:hover, #number42_1_:hover, #number22_1_:hover{
     cursor: pointer;
 }